<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitsane</title>
    <link rel="stylesheet" href="/css/stylenew.css">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
</head>
<body>

    <div class="container">
        
<div class="navbar">
    <ul>
        <li class="h">home</li>
        <li class="a">about us</li>
        <li class="c">contact us</li>    
        <img src="/images/menus.png" class="menu"/>    
    </ul>
    
</div>
<div data-aos="fade-down">
<div class="logo">
    
    <img src="/images/logo4.png" alt="logo" class="logoimg">
</div>
</div>



<div data-aos="fade-up">
<div class="home">
     
<img src="/images/homeworkout2.jpg" alt="homeworkout" class="homeworkout">
<div data-aos="zoom-out-down">
    <div class="title">Home Workouts </div>
<div class="hdesc">Home workouts offer a convenient, flexible, and cost-effective way to achieve your fitness goals.  By eliminating gym commutes and fees, they save you time and money, allowing you to exercise in the privacy and comfort of your own space, whenever it suits your schedule. This personalized approach makes fitness more accessible and easier to integrate into busy lifestyles, promoting consistent exercise habits, reducing stress, and improving overall health and well-being for individuals of all fitness levels</div>
</div>
</div>
</div>

<div data-aos="fade-up">
    
<div class="home">
<img src="/images/calis.jpg" alt="calisthenics" class="homeworkout">
<div data-aos="flip-left"
     data-aos-easing="ease-out-cubic"
     data-aos-duration="2000">
     <div class="title">Calisthenics </div>
<div class="hdesc">Nutrition is the cornerstone of a healthy and fulfilling life.  It's the process of fueling our bodies with the essential nutrients they need to function optimally.  A well-balanced diet, rich in fruits, vegetables, lean proteins, whole grains, and healthy fats, provides the building blocks for growth, repair, and energy production.  These nutrients, including vitamins and minerals, support everything from cell function and immune response to bone strength and cognitive abilities.  Proper nutrition plays a crucial role in preventing chronic diseases like heart disease, type 2 diabetes, and certain cancers.</div> 
</div>
</div>


<div data-aos="fade-up">
<div class="home">
    <img src="/images/gym.jpg" alt="homeworkout" class="homeworkout">
    <div data-aos="fade-up"
     data-aos-duration="1000">
     <div class="title">Gym workouts </div>
    <div class="hdesc">Home workouts offer a convenient, flexible, and cost-effective way to achieve your fitness goals.  By eliminating gym commutes and fees, they save you time and money, allowing you to exercise in the privacy and comfort of your own space, whenever it suits your schedule. This personalized approach makes fitness more accessible and easier to integrate into busy lifestyles, promoting consistent exercise habits, reducing stress, and improving overall health and well-being for individuals of all fitness levels..</div>
    
    </div>
</div>
</div>





<div class="foot">
    <footer>
        <p>&copy; 2025 Fitsane. All rights reserved.</p>
        <div class="social-media">
            <a href="https://instagram.com" class="insta">Instagram</a>
            <a href="https://facebook.com" class="face">Facebook</a>
            <a href="https://twitter.com" class="twit">Twitter</a>
        </div>
    </footer>
</div>
    </div>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
</body>
</html>