body{
    background: url("/images/regibg.jpg");
    background-size: cover;
    background-position: center;
}
.register-container
{
    
    
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    
}

.box{
    
    background: url("/images/regibg.jpg");
    background-size: cover;
    background-position: center;
    inset: 0 0 0 0;
    margin: auto;
    border: 2px solid black;
    position: relative;
    width: 500px;
    height: 500px;
    margin-top:125px;
    border-radius: 30px;
    color: white;
}


h2{
    
    text-align: center;
    
}


label{
   
    
}


input{
    margin: auto;
    display: flex;
    margin-bottom: 10px;
    border-radius: 8px;
    height: 30px;
    width: 200px;
   
}

.form-group{
    
    width: 170px;
    margin: auto;
    
}


.register-btn
{

    margin:auto;
    display: flex;
}

p{
    text-align: center;
}

a
{
    color: white;
}