body{
    
    background:url("/images/bg1.jpg");
}


.navbar ul li
{
    cursor: pointer;
    font-size:medium;

    text-align: center;

}

.navbar ul{
    display: flex;
    align-items: center;
    
    list-style: none;
}

.navbar{
    align-content: center;
    mix-blend-mode:hard-light;
    border-radius: 50px;
    inset: 0 0 0 0;
    background:antiquewhite; 
    height:60px;
    width: 100%;
   
    
}

.logoimg
{
    inset:0 0 0 0;
    display: flex;
    margin: auto;
    width: 400px;
    height: 400px;
    
}


.homeworkout
{  
    border-radius: 50px;
    mix-blend-mode: lighten;
    padding: 25px;
    inset: 0 0 0 0;
    display: flex;
    margin: auto;
    width: 600px;
    height: 350px;
    /*box-shadow: -10px 10px 20px skyblue,10px -10px 20px skyblue,-10px 10px 20px skyblue,-10px -10px 20px skyblue,10px 10px 20px skyblue;*/
}

.homeworkout:hover{
    border: 2px solid white;
    transform: translateY(2px);
}

.hdesc
{   
    
    padding-top: 30px;
    inset: 0 0 0 0;
    margin: auto;
    display: flex;
    color: white;
    font-size: larger;
    width: 800px;
    height: 30vh;
    
    
    
}


.home{
    align-content: center;
    
    
}

footer {
    mix-blend-mode: hard-light;
    background: antiquewhite;
    color:gray;
    text-align: center;
    padding: 20px 0;
    margin-top: 500px;
}

.social-media a {
    color: grey;
    margin: 0 10px;
    text-decoration: none;
    
}


.h:hover{
    transform: translatey(2px);
    border:2 solid rgb(32, 184, 44);
   
    
}


.a:hover{
    transform: translatey(2px);
    border:2 solid rgb(32, 184, 44);
}


.c:hover{
    transform: translatey(2px);
    border:2 solid rgb(32, 184, 44);
}


.title
{
    padding-top: 10px;
   text-align: center;
 
    color: antiquewhite;
    font-size: larger;
}


.menu{
    height:25px;
    width:35px;
    margin-left: 1145px;
   
    
    
}

.menu:hover{
    transform: translateY(3px);
}

.a{
    margin-left: 50px;
}


.c
{
    margin-left: 50px;
}

#burger-menu {
    position: relative;
    cursor: pointer;
  }

  #menu-options {
    position: absolute;
    top: 50px;
    left: 0;
    display: none;
    margin-left:1280px;
    background-color:antiquewhite;
    border: 1px solid antiquewhite;
    padding: 10px;
    z-index: 3;
    height: 50vh;
    width: 200px;
    border-radius: 30px;
  }

  #menu-options a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
  }

  #menu-options a:hover{
    transform: translatey(3px);
  }

  #nutrition-options {
    display: none;
    margin-left: 20px;
  }

  .body-type-link {
    cursor: pointer;
  }
  


.star1
{
    width: 50px;
    height: 50px;
}


.consistency
{
   margin-top: 100px; 
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 25px; 

}

#one
{
    display: none;
}

#two
{
    display: none;
}

#three
{
    display: none;
}

#four
{
    display: none;
}

#five
{
    display: none;
}

#six
{
    display: none;
}

#seven
{
    display: none;
}


.markdone{
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

#markas
{
    width: 100px;
    height: 50px;
    border-radius: 30px;
    background-color: antiquewhite;
    cursor: pointer;
}

#markas:hover{
    transform: translatey(3px);
}
#markas:active{
    transform: translateY(3px);
}


.anchor
{
    text-decoration: none;
    color: inherit;
}

@media (max-width: 768px) {
    .navbar ul {
        
        display: flex;
        margin: auto;

        
    }

    .menu {
        width: 30px;
        height: 30px;
        margin-left: 0;
    }

    .homeworkout {
        width: 90%;
        height: auto;
    }

    .hdesc {
        font-size: 14px;
    }

    .footer {
        font-size: 14px;
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .navbar ul {
        
    }

    .homeworkout {
        width: 90%;
        height: auto;
    }

    .menu {
        width: 30px;
        height: 30px;
        margin-left:55px;
    }

    .hdesc {
        font-size: 12px;
        width: fit-content;
    }

    .footer {
        font-size: 12px;
    }

    .logoimg{
        height: 200px;
        width: 200px;
    }
}

